@tailwind base;
@tailwind components;
@tailwind utilities;


.container {
  width: 100%;
  max-width: 600px;
  height: 100px;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.scrolling-text {
  position: absolute;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transform: translateY(100%);
}

.scrolling-text.animate {
  animation: scroll 1s ease-in-out forwards;
}

.text {
  font-size: 24px;
  white-space: nowrap;
}

/* Animation Keyframes */
@keyframes scroll {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}


.badgetext {
    font-size: 8px;
}


@layer base {
    html, body {
      @apply w-full h-full overflow-x-hidden overflow-y-auto scroll-smooth;
    }
  }
  